#table_of_contents {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}
#table_of_contents a { font-size: larger; }

#up {
    position: fixed;
    background-color: lightgray;
    color: black;
    padding: 10px;
    font-size: 24px;
    bottom: 1%;
    right: 1%;
}
#up:hover { opacity: 0.5; }

#stories {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-self: center;
    width: 75%;
    margin: 2%;
}
#stories a {
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0 10%;
}
#stories a:hover {
    background-color: lightgray;
    color: black;
    font-size: larger;
}

#programming {
    width: 90%;
    justify-self: center;
    border: 1px solid black;
}
#programming p {
    font-size: small;
    border-bottom: 1px solid black;
    margin: 20px 0;
}
#programming a { padding: 10px; }

.group {
    border: 1px solid black;
    margin: 2%;
    padding: 5px;
}
.group:hover {
    background-color: darkgray;
}

.item {
    display: flex;
    justify-content: space-around;
}
.item a { border: 1px solid black; }
.item a:hover {
    background-color: grey;
    font-size: larger;
}

div, .item a { border-radius: 10px; }