#player, #canvas, #img_capture, #dot_label {
    position: absolute;
}

#player, #canvas {
    top: 10%;
    left: 0;
}

#img_capture {
    bottom: 2%;
    padding: 10px;
    font-weight: bold;
}

#settings {
    background-color: peru;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    padding: 10px;
}

input {
    width: 100px;
    margin-bottom: 5px;
    margin-right: 20px;
}