* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: gray;
}

header {
    width: 98%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

a {
    color: blue;
    text-decoration: none;
}

header a {
    font-size: 20px;
}

.groups {
    border: 2px solid black;
    margin: 1%;
    width: 50%;
}

li {
    border: 2px solid black;
    list-style-type: none;
    margin: 2%;
    padding: 1%;
}

li a {
    margin: 5%;
}

p {
    font-size: 20px;
}

#display_product {
    position: fixed;
    top: 5%;
    background-color: darkgrey;
    height: 50%;
    width: 50%;
    border: 2px solid black;
}
.ad {
    position: relative;
    margin-bottom: 20px;
}
.ad p {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: darkgray;
}

.ad img:hover {
    opacity: 75%;
}

#license {
    padding: 20px;
    margin: 20px 5%;
    border: 1px solid black;
    background-color: tomato;
    opacity: 50%;
}